<div class="notification-page">
  <div class="notification-card">

    <!-- Header with back arrow and title -->
    <div class="notification-header">
      <div class="back-arrow" (click)="goBack()">
        <i class="fa-solid fa-arrow-left"></i>
      </div>
      <h3 class="title">Your Notification</h3>
    </div>

    <div class="notification-list">

      <!-- Empty State -->
    <div *ngIf="notifications.length === 0" class="empty">
  No notifications found 🔔
   </div>

      <!-- Notifications -->
      <div
        class="notification-item"
        *ngFor="let n of notifications"
      >
        <div class="icon" [ngClass]="n.type">
          <i class="fa-solid" [ngClass]="n.icon"></i>
        </div>

        <div class="content">
          <strong>{{ n.title }}</strong>
          <p>{{ n.message }}</p>
        </div>

        <span class="time">{{ n.time }}</span>
      </div>

    </div>
  </div>
</div>

