

input {
    padding: 8px 16px;
    border-radius: 10px;
    &:focus,&:active{
        outline: none !important;
        box-shadow: none !important;
    }
}
::placeholder{
    color: #9ca3af; // gray
}

.form-group{
    margin-bottom: 16px;
}

.google-btn
{
    border: 1px solid #BBC1C7; // light gray
    padding:8px 16px 8px 12px;
}
.btn {
    padding: 8px;
}

.phone-input-wrapper {
  .input-group {
    .form-control {
      border-radius: 0.5rem;
      border: 1px solid #ccc;
      padding: 0.5rem 1rem;
      transition: border-color 0.3s, box-shadow 0.3s;

      &:focus {
        border-color: #007bff;
        box-shadow: 0 0 5px rgba(0, 123, 255, 0.3);
      }
    }

    .input-group-text {
      border-radius: 0.5rem 0 0 0.5rem;
      background-color: #f8f9fa;
      border: 1px solid #ccc;
      font-weight: 500;
    }
  }
}
