
.search-form
{
    background: #F5F6F7;
    border: 1px solid gray;
    border-radius: 10px;
    padding: 8px;
    input {
        background-color: transparent;
        background: transparent;
        border: 0;
    }
   

}
 .input-group-text  
    {
        background-color: transparent !important;
        background: transparent !important;
        border: 0 !important;
    }

    footer.bg-dark {
  background: #071226; /* dark navy like your screenshot */
}
