<section class="register-form">
    <app-form-header [formTitle]="'edit Phone'"
        [formDesc]="'please type your phone to retreive your passqord'"></app-form-header>

    <div class="content">
        <form #f="ngForm" (ngSubmit)="submit(f)">
<div class="form-group">
                <label for="phone" class="form-label">phone </label>
                <div class="input-group mb-3 no-wrap">
                    <span class="input-group-text">
                        <img src="https://flagcdn.com/w20/eg.png" alt="EG" width="20" height="15" class="me-1" />
                    </span>

                     <input
    type="tel"
    name="phone"
    class="form-control"
    [(ngModel)]="phone"
    required
                        placeholder="format must be +20XXXXXXXXXX"

    #phoneCtrl="ngModel"
  />
                </div>

            </div>
  
            @if (phoneCtrl.invalid && phoneCtrl.touched) {
<div class="text-danger">
    @if (phoneCtrl.errors?.['required']) {
<small *ngIf="phoneCtrl.errors?.['required']">
        Phone is required
    </small>
    }
    <!-- @else if (phoneCtrl.errors?.['pattern']) {
<small>
        Invalid phone number
    </small> -->
    
    
    
</div>
            }



  <button class="btn btn-primary mt-2 w-100" [disabled]="f.invalid">
    Submit
  </button>

</form>
        


    </div>
</section>