.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 14px 32px;
}

/* Logo */
.logo {
  height: 32px;
}

/* Center Search */
.navbar-center {
  flex: 1;
  max-width: 500px;
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 10px 16px;
  border-radius: 12px;
  background: #f5f7fa;
}

.navbar-center input {
  border: none;
  outline: none;
  width: 100%;
  font-size: 14px;
  background: transparent;
}

.search-icon {
  font-size: 14px;
  color: #888;
}

/* Right section */
.navbar-right {
  display: flex;
  align-items: center;
  gap: 14px;
}

.icon-btn {
  background: none;
  border: none;
  font-size: 18px;
  cursor: pointer;
}

.icon-btn {
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;

  border: 1px solid #e6e8ec;
  border-radius: 10px;

  background: #ebecec;
  cursor: pointer;

  transition: background 0.2s ease, border-color 0.2s ease;
}

.icon-btn i {
  font-size: 16px;
  color: #6b7280;
}




/* Profile */
.profile-btn {
  width: 36px;
  height: 36px;
  border-radius: 50%;
  overflow: hidden;
  border: none;
  padding: 0;
  cursor: pointer;
}

.profile-btn img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.menu-dropdown {
  position: absolute;
  top: 60px;
  right: 80px;
  display: flex;
  gap: 8px;
  background: white;
  padding: 6px 8px;
  border-radius: 12px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}

.menu-btn {
  display: flex;
  align-items: center;
  gap: 6px;
  padding: 6px 12px;
  border: none;
  border-radius: 8px;
  background: #f5f6f7;
  color: #333;
  font-size: 13px;
  cursor: pointer;
  transition: background 0.2s;
}

.menu-btn i {
  font-size: 14px;
}

.menu-btn:hover {
  background: #e8e9ea;
}
