input[type="radio"].form-check-input {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  width: 1.25em;
  height: 1.25em;
  border: 1.5px solid #adb5bd; 
  border-radius: 0.25rem; 
  background-clip: padding-box;
  position: relative;
  cursor: pointer;
  outline-offset: 2px;
}

input[type="radio"].form-check-input:checked {
  background-color: #0d6efd; 
  border-color: #0d6efd;
}

input[type="radio"].form-check-input:checked::after {
  content: "";
  position: absolute;
  top: 0.2em;
  left: 0.2em;
  width: 0.65em;
  height: 0.65em;
  background: white;
  border-radius: 0.1rem;
}

.sidebar {
  width: 0;
  transition: width 0.3s ease;
  overflow-x: hidden;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1050;
}

.sidebar.sidebar-open {
  width: 240px;
}

.content {
  transition: margin-left 0.3s ease;
  margin-left: 0;
  padding-left: 1rem;
  padding-right: rem;
}

.content.content-shrink {
  margin-left: 290px;
}

.margin-set{
    margin-top: 63px;
}