.sidebar {
  position: absolute;
  top: 135px;
  left: 0;
  width: 280px;
  height: 100%;
  background-color: #fff;
  border-right: 1px solid #eee; 
  transform: translateX(-100%); 
  transition: transform 0.3s ease-in-out;
  z-index: 1050;
}
.sidebar.sidebar-open {
  transform: translateX(0); 
}
.content-shrink {
  margin-left: 280px; 
  transition: margin-left 0.3s ease-in-out;
}


