<div class="reviews">
  <div class="d-flex align-items-center justify-content-between mb-3">
    <div class="d-flex align-items-end gap-2">
      <div class="score">{{ overall }}</div>
      <div class="outof text-muted">/5</div>
    </div>

    <a class="add-review" href="javascript:void(0)">✎ add review</a>
  </div>

  <div class="stars text-warning mb-2">
    ★★★★★
    <span class="ms-2 text-muted small">{{ totalReviews }}+ Reviews</span>
  </div>

  <div class="row g-3 mt-2">
    <div class="col-12 col-md-6" *ngFor="let r of reviews">
      <div class="card border-0 shadow-sm rounded-4 review-card ">
        <div class="card-body p-3">
          <div class="d-flex gap-3 align-items-start">
            <img class="rv-avatar" [src]="r.avatarUrl" alt="avatar" />
            <div class="flex-grow-1">
              <div class="d-flex justify-content-between align-items-center">
                <div class="fw-bold">{{ r.name }}</div>
                <div class="badge rating-badge">{{ r.rating }}</div>
              </div>
              <div class="text-muted small mb-2">{{ r.time }}</div>
              <div class="text-muted">{{ r.text }}</div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
