.footer {
  background: linear-gradient(180deg, #061a33, #041224);
  color: #ffffff;
  font-family: 'Poppins', sans-serif;
}

.footer-container {
  padding: 60px 40px;
  display: grid;
  grid-template-columns: 2fr 1fr 1fr 1.2fr;
  gap: 40px;
}


/* Brand */
.footer-brand .logo {
  display: flex;
  align-items: center;
  gap: 10px;
  font-size: 25px;
  font-weight: 500;
}

.footer-brand i {
  color: rgb(235, 240, 245);
  font-size: 26px;
}

.footer-brand p {
  margin: 20px 0;
  color: #cfd8e3;
  line-height: 1.6;
}

/* Social Icons */
.social-icons a {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 36px;
  height: 36px;
  margin-right: 10px;
  border-radius: 8px;
  background: #0c2a4d;
  color: #ffffff;
  transition: all 0.3s ease;
}

.social-icons a:hover {
  background: #061a33;
}

/* Links */
.footer-links h4,
.footer-contact h4 {
  margin-bottom: 18px;
  font-size: 18px;
}

.footer-links a {
  display: block;
  margin-bottom: 12px;
  color: #cfd8e3;
  text-decoration: none;
  transition: 0.3s;
}

.footer-links a:hover {
  color: #4da6ff;
}

/* Contact */
.footer-contact p {
  display: flex;
  align-items: flex-start;
  gap: 10px;
  color: #cfd8e3;
  margin-bottom: 14px;
}

.footer-contact i {
  color: rgb(255, 255, 255);
  margin-top: 4px;
}

/* Bottom */
.footer-bottom {
  border-top: 1px solid rgba(255, 255, 255, 0.1);
  padding: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 14px;
  color: #cfd8e3;
}

.footer-bottom a {
  color: #cfd8e3;
  text-decoration: none;
}

.footer-bottom a:hover {
  color: #4da6ff;
}

/* Responsive */
@media (max-width: 992px) {
  .footer-container {
    grid-template-columns: 1fr 1fr;
  }
}

@media (max-width: 576px) {
  .footer-container {
    grid-template-columns: 1fr;
  }

  .footer-bottom {
    flex-direction: column;
    gap: 10px;
  }
}
